

<div class="container mt-5">
    <div class="row">
       <!-- <div class="col-sm-5">
         <div class="card">
            <div class="card-header">
                <h6>ON GROUND(78)</h6>
                <table>
                  <tr>
                      <td colspan="3" rowspan="2"><h2>A0000</h2></td>
                      <td >A0000</td>
                      <td rowspan="2" ><h3>MCO</h3></td>
                      <td rowspan="2"><h3><i class="fa-solid fa-plane"></i></h3></td>
                      <td rowspan="2"><h3>DFW</h3></td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                     <td colspan="4">Last Message: 60397 minutes ago</td>
                      <td>1706 feet</td>
                      <td colspan="2">Landing in 00h 00m 00s</td>
                  </tr>
                </table>
                <br>
                <table>
                    <tr>
                        <td colspan="3" rowspan="2"><h2>A0000</h2></td>
                        <td >A0000</td>
                        <td rowspan="2" ><h3>MCO</h3></td>
                        <td rowspan="2"><h3><i class="fa-solid fa-plane"></i></h3></td>
                        <td rowspan="2"><h3>DFW</h3></td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                       <td colspan="4">Last Message: 60397 minutes ago</td>
                        <td>1706 feet</td>
                        <td colspan="2">Landing in 00h 00m 00s</td>
                    </tr>
                  </table>
                  <br>
                <table>
                    <tr>
                        <td colspan="3" rowspan="2"><h2>A0000</h2></td>
                        <td >A0000</td>
                        <td rowspan="2" ><h3>MCO</h3></td>
                        <td rowspan="2"><h3><i class="fa-solid fa-plane"></i></h3></td>
                        <td rowspan="2"><h3>DFW</h3></td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                       <td colspan="4">Last Message: 60397 minutes ago</td>
                        <td>1706 feet</td>
                        <td colspan="2">Landing in 00h 00m 00s</td>
                    </tr>
                  </table>
                  <br>
                <table>
                    <tr>
                        <td colspan="3" rowspan="2"><h2>A0000</h2></td>
                        <td >A0000</td>
                        <td rowspan="2" ><h3>MCO</h3></td>
                        <td rowspan="2"><h3><i class="fa-solid fa-plane"></i></h3></td>
                        <td rowspan="2"><h3>DFW</h3></td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                       <td colspan="4">Last Message: 60397 minutes ago</td>
                        <td>1706 feet</td>
                        <td colspan="2">Landing in 00h 00m 00s</td>
                    </tr>
                  </table>
                  <br>
                <table>
                    <tr>
                        <td colspan="3" rowspan="2"><h2>A0000</h2></td>
                        <td >A0000</td>
                        <td rowspan="2" ><h3>MCO</h3></td>
                        <td rowspan="2"><h3><i class="fa-solid fa-plane"></i></h3></td>
                        <td rowspan="2"><h3>DFW</h3></td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                       <td colspan="4">Last Message: 60397 minutes ago</td>
                        <td>1706 feet</td>
                        <td colspan="2">Landing in 00h 00m 00s</td>
                    </tr>
                  </table>
                  <br>
                <table>
                    <tr>
                        <td colspan="3" rowspan="2"><h2>A0000</h2></td>
                        <td >A0000</td>
                        <td rowspan="2" ><h3>MCO</h3></td>
                        <td rowspan="2"><h3><i class="fa-solid fa-plane"></i></h3></td>
                        <td rowspan="2"><h3>DFW</h3></td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                       <td colspan="4">Last Message: 60397 minutes ago</td>
                        <td>1706 feet</td>
                        <td colspan="2">Landing in 00h 00m 00s</td>
                    </tr>
                  </table>
            </div>
           <div class="card-body"></div> 
              <div class="card-footer">Footer</div>
         </div>
        </div>
    
    -->
        <div class="col-sm-6 main">
            <h5>ON GROUND(5)</h5>
            <div class="main1">
                <div class="row">
                  <div class="col-1 border border-dark bg-secondary" 
                     style="width:2px; border-radius: 5px 0px 0px 5px;" 
                     data-bs-toggle="tooltip" title="Some text">

                  </div>
                  <div class="col-11 bg-white">
                    <div class="row text-center">
                      <div class="col-sm-5 border border-dark"><h4>A0000</h4></div>
                       <div class="col-sm-2 border border-dark">A0000</div>
                        <div class="col-sm-5  border border-dark">
                         <strong>MCO</strong>
                         <i class="fa-solid fa-plane"></i>
                         <strong>DFW</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 border  border-dark"><small>Last Message: 60397 minutes ago </small></div>
                      <div class="col-sm-2 border  border-dark"><small>1706 feet</small></div>
                      <div class="col-sm-4 border  border-dark"><small> Landing in 00h 00m 00s </small></div>
                    </div>
                  </div>
                </div>
           </div>
           <br>
           
           <div class="main">
            <div class="row">
              <div class="col-1 border border-dark bg-danger" style="width:2px; border-radius: 5px 0px 0px 5px;">
               
              </div>
              <div class="col-11 bg-white">
                <div class="row text-center">
                  <div class="col-sm-5 border border-dark"><h4>A0000</h4></div>
                   <div class="col-sm-2 border border-dark">A0000</div>
                    <div class="col-sm-5  border border-dark">
                     <strong>MCO</strong>
                     <i class="fa-solid fa-plane"></i>
                     <strong>DFW</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 border  border-dark"><small>Last Message: 60397 minutes ago </small></div>
                  <div class="col-sm-2 border  border-dark"><small>1706 feet</small></div>
                  <div class="col-sm-4 border  border-dark"><small> Landing in 00h 00m 00s </small></div>
                </div>
              </div>
            </div>
       </div>
       <br>
       
       <div class="main">
        <div class="row">
          <div class="col-1 border border-dark bg-danger" style="width:2px; border-radius: 5px 0px 0px 5px;">
           
          </div>
          <div class="col-11 bg-white">
            <div class="row text-center">
              <div class="col-sm-5 border border-dark"><h4>A0000</h4></div>
               <div class="col-sm-2 border border-dark">A0000</div>
                <div class="col-sm-5  border border-dark">
                 <strong>MCO</strong>
                 <i class="fa-solid fa-plane"></i>
                 <strong>DFW</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 border  border-dark"><small>Last Message: 60397 minutes ago </small></div>
              <div class="col-sm-2 border  border-dark"><small>1706 feet</small></div>
              <div class="col-sm-4 border  border-dark"><small> Landing in 00h 00m 00s </small></div>
            </div>
          </div>
        </div>
   </div>
   <br>
   
   <div class="main">
    <div class="row">
      <div class="col-1 border border-dark bg-secondary" style="width:2px; border-radius: 5px 0px 0px 5px;">
       
      </div>
      <div class="col-11 bg-white">
        <div class="row text-center">
          <div class="col-sm-5 border border-dark"><h4>A0000</h4></div>
           <div class="col-sm-2 border border-dark">A0000</div>
            <div class="col-sm-5  border border-dark">
             <strong>MCO</strong>
             <i class="fa-solid fa-plane"></i>
             <strong>DFW</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 border  border-dark"><small>Last Message: 60397 minutes ago </small></div>
          <div class="col-sm-2 border  border-dark"><small>1706 feet</small></div>
          <div class="col-sm-4 border  border-dark"><small> Landing in 00h 00m 00s </small></div>
        </div>
      </div>
    </div>
</div>
<br>

<div class="main">
    <div class="row">
      <div class="col-1 border border-dark bg-danger" style="width:2px; border-radius: 5px 0px 0px 5px;">
       
      </div>
      <div class="col-11 bg-white">
        <div class="row text-center">
          <div class="col-sm-5 border border-dark"><h4>A0000</h4></div>
           <div class="col-sm-2 border border-dark">A0000</div>
            <div class="col-sm-5  border border-dark">
              <strong>MCO</strong>
              <i class="fa-solid fa-plane"></i>
              <strong>DFW</strong>    
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 border  border-dark"><small>Last Message: 60397 minutes ago </small></div>
          <div class="col-sm-2 border  border-dark"><small>1706 feet</small></div>
          <div class="col-sm-4 border  border-dark"><small> Landing in 00h 00m 00s </small></div>
        </div>
      </div>
    </div>
</div>
<br>

<div class="main">
    <div class="row">
      <div class="col-1 border border-dark bg-danger" style="width:2px; border-radius: 5px 0px 0px 5px;">
       
      </div>
      <div class="col-11 bg-white">
        <div class="row text-center">
          <div class="col-sm-5 border border-dark"><h4>A0000</h4></div>
           <div class="col-sm-2 border border-dark">A0000</div>
            <div class="col-sm-5  border border-dark">
                <strong>MCO</strong>
                <i class="fa-solid fa-plane"></i>
                <strong>DFW</strong>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6 border  border-dark"><small>Last Message: 60397 minutes ago </small></div>
          <div class="col-sm-2 border  border-dark"><small>1706 feet</small></div>
          <div class="col-sm-4 border  border-dark"><small> Landing in 00h 00m 00s </small></div>
        </div>
      </div>
    </div>
</div>
<br>

        </div>
        
    </div>
</div>